[Unit]
Description=Laravel Scheduler
After=network.target

[Service]
Type=oneshot
User=www-data
WorkingDirectory=/var/www/healapp-api
ExecStart=/usr/bin/php /var/www/healapp-api/artisan schedule:run

[Install]
WantedBy=multi-user.target
